// Customisations
$font-family-base: 'Open Sans', sans-serif;
$headings-font-family: 'Prata', serif;
$paragraph-margin-bottom: 2rem;
//$headings-margin-bottom: 3rem;

// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Optional
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";

@import 'bootstrap-vue/src/index.scss';

// Overrides
.lead {
    font-family: $headings-font-family;
}

.blog-header-logo {
    margin-bottom: 1rem;
}