// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Customisations
$font-family-base: 'Open Sans', sans-serif;
$headings-font-family: 'Prata', serif;
$paragraph-margin-bottom: 2rem;

$link-color: $body-color;
$link-decoration: underline dashed 2px;
$link-hover-color: $body-color;
$link-hover-decoration: underline solid 2px;

$theme-colors: (
    // Copied from prism theme.
    "code": #f5f2f0,
    "code-highlight": #ece6e2,
    "code-keyword": #07a
);

// Optional
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";

@import 'bootstrap-vue/src/index.scss';
@import 'code.scss';

// Overrides
.lead {
    font-family: $headings-font-family;
}

.blog-header-logo {
    margin-bottom: 1rem;
}

h1, h2 {
    &:not(:first-child){
        margin-top: 5rem;
    }
}

h3, h4, h5, h6{
    &:not(:first-child){
        margin-top: 3rem;
    }
}
